[submodule "configs"]
	path = config
	url = git@github.com:systemapic/configs.git
[submodule "modules/wu"]
	path = modules/wu
	url = git@github.com:systemapic/wu.git
[submodule "modules/pile"]
	path = modules/pile
	url = git@github.com:systemapic/pile.git
[submodule "modules/systemapic-postgresql"]
	path = modules/systemapic-postgresql
	url = git@github.com:systemapic/systemapic-postgresql.git
