saved_images/*
*.key
*.pem
npm-debug.log
scripts/*logs*txt
scripts/logs/
*.ignore.*
node_modules/
docker/compose/yml
!docker/compose/yml/localhost.yml
!docker/compose/yml/common.yml
!docker/compose/yml/README*
