[submodule "modules/engine"]
	path = modules/engine
	url = git@github.com:mapic/engine.git
[submodule "modules/mile"]
	path = modules/mile
	url = git@github.com:mapic/mile.git
[submodule "modules/sdk"]
	path = modules/sdk
	url = git@github.com:mapic/sdk.git
[submodule "config"]
    path = config
    url = git@github.com:mapic/config-localhost.git
[submodule "modules/mapic.js"]
	path = modules/mapic.js
	url = git@github.com:mapic/mapic.js.git
