saved_images/*
*.key
*.pem
npm-debug.log
scripts/log/*logs*txt
*.ignore.*
node_modules/
docker/compose/yml
!docker/compose/yml/README.md
!docker/compose/yml/localhost.yml
!docker/compose/yml/common.yml
logs
logs/
logs/*
*.log
env-cli.sh